*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}


:root {

    --background-color: #FBF9FC; 
    --text-color: #231942;       
    
    --primary-color: #9F86C0;    
    --secondary-color: #BE95C4;  
    --accent-color: #5E548E;      

    --card-background-color: #FFFFFF; 
    --border-color: #E0B1CB;         
    --header-background: rgba(251, 249, 252, 0.92); 
    --shadow-color: rgba(35, 25, 66, 0.08); 
    
    --highlight-text-bg: rgba(159, 134, 192, 0.15); 

    --hero-text-color: var(--text-color); 
    --hero-overlay-color: rgba(94, 84, 142, 0.03); 

    --skill-section-bg: var(--background-color);       
    --skill-title-color: var(--accent-color);          
    --skill-title-underline-color: var(--accent-color);
    --skill-item-bg: #F7F2FA;                        
    --skill-icon-color: var(--accent-color);          
    --skill-text-color: var(--text-color);            
    --skill-item-hover-shadow-color: rgba(94, 84, 142, 0.15); 
    
    --transition-speed: 0.3s ease;

    --font-body: 'Montserrat', sans-serif;
    --font-heading: 'Lora', serif;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}
